body {
  background-color: snow;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
.darkgrey {
  color: grey;
}

.blue {
  color: blue;
}
.grey {
  color: lightgray;
}
/* this is a comment in CSS */

/* let's try to use ctrl+' */

/* this is how block comment looks (shift+alt+a), so it's the same put doesn't wrap around, you have to write after */

.red {
  color: red;
}
.yellow {
  color: yellow;
  font-family: "Times New Roman", Times, serif;
}
#important {
  font-size: 30px;
  color: lightcoral;
}
